.case {
    margin-right: 10px;
    width: 200px;
    transition: width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  
  .case:hover {
    width: 500px;
  }
  
  .caseDescription {

    position: absolute;
    background-color: #d19900;
    left: 200px;
    white-space: pre-wrap;
    padding: 5%;
    box-sizing: border-box;
    bottom: 0px;
    height: 200px;
    width: 300px;
  }
  
  .caseDescription div
  {
    height: 150px;
    width: 250px;
  }
  
  .caseHeader img {
    width: 200px;
    position: absolute;
    top:0;
    filter: brightness(60%);
    z-index: -1;
  }
  
    .case a 
    {
      margin-top: 5px;
      color:white
    }

    .case a:visited
    {
      color:white;
    }

  .caseHeader h3 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 5%;
    margin-bottom: 0rem;
    margin-right: 5%;
  }


  .caseHeader p {
    margin-left: 5%;
    margin-top: 2%;
    word-break: break-all;
    margin-top: 2%;
    margin-right: 5%;
  }

  .caseHeader {
    height: 200px;
    width: 200px;
    float: left;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

  }