body
{
    margin:0;
}



.fullscreenDetailLeft {
    box-sizing: border-box;
    display: block;
    position: absolute;
    height: 100vh;
    width: 50%;
    left: 0;
  }
  
  .fullscreenDetailLeft img
  {
    object-position: top;
  }

  .fullscreenDetailRight{
    box-sizing: border-box;
    display: block;
    position: absolute;
    height: 100vh;
    width: 50%;
    right: 0;
    padding:2%;
    padding-right: 8%;
    padding-left: 6%;
    background-color: transparent !important;
  }

  .mobileTitle {
    display: none;
  }

  .contentContainer {
      height: 75vh;
      max-height: 80vh;
      overflow: scroll;
      overflow-x: hidden;
  }

  .contentContainer::-webkit-scrollbar {
    width: 10px;
  }

  .contentContainer::-webkit-scrollbar-track {
    background: black; 
  }

  .contentContainer::-webkit-scrollbar-thumb {
    background: #FFC21C;
    border-radius: 10px;
  }
  

  .useCaseContent {

      height: 80vh;
  }

  #particles-js {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100vh;
  }
  #particles-js div {
    height: 100%;
    
  }

  a, a:visited {
    color:#FFC21C;
    text-decoration-line: none;
    font-weight: bold;
  }

  @media only screen and (max-width: 425px) {

    .fullscreenDetailLeft {

      position: relative !important;
      height: 35vh !important;
      width: 100% !important;
      overflow: hidden;
    }

    .fullscreenDetailRight{

      height: 65vh !important;
      width: 100% !important;
      position: relative !important;
    }

    .fullscreenDetailRight h1 {
       display: none;
       padding-left: 5%;
    }

    .fullscreenDetailRight svg {
      
      display: none !important;
    }

    .useCaseContent {
      height: auto !important;
    }

    .contentContainer {
      height: auto !important;
      max-height: none !important;
      overflow: unset !important;
  }
  .mobileTitle {
    display: block !important;
    height: 5vh;
    box-sizing: border-box;
  }
    
  }