

  .timeLineItemContainer
  {
    height: 50vh;
    box-sizing: content-box;
    padding-bottom: 4%;
  }


  .timeStepUpContainer
  {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .stepLine {
    height: 15%;
    display: flex;
    align-items: center;
  }

  .timeStepDownContainer
  {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .timelineContentBox
  {
    background-color: orange;
    padding: 5%;
    overflow-wrap: break-word;
    max-width: 500px;
  }

  .timelinescroller
  {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;

  }

  .timeline{
    display: flex;
    width:max-content;
  }

  

  span.number {
    font-size: 3rem;
    width: 10%;
    text-align: center;
  }

  .stepLine .line {
    background: white;
    width: 100%;
    height: 5px;
  }

  
  .timelinescroller::-webkit-scrollbar {
    height: 10px;
  }

  
  .timelinescroller::-webkit-scrollbar-track {
    background: black; 
  }

  
  .timelinescroller::-webkit-scrollbar-thumb {
    background: #FFC21C;
    border-radius: 10px;
  }

  @media only screen and (max-width: 425px) {

    .timelinescroller {
      width: auto !important;
      overflow-x: initial !important;
      overflow-y: initial !important;
  }

  .timeline {
    flex-direction: column !important;
    display: flex !important;
    width: auto !important;
}

.timeLineItemContainer {
    height: auto  !important;
}


  .timeStepDownContainer
  {
    width: 80%;
    float: right;
  }

  .timeStepUpContainer{
    width: 80%;
    float: right;
  }

  .stepLine
  {
    height: 170px;
    display: block;
    width: 20%;
    float: left;
  }

  .line {
    background: none !important;
    width: 20% !important;
    height: 73% !important;
    border-right: 5px solid
  }

  }