.timeLineItemContainer {
  height: 50vh;
  box-sizing: content-box;
  padding-bottom: 1%;
  display: flex;
  flex-direction: column;
}

.timeStepUpContainer {
  height: 20vh;
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
}

.stepLine {
  height: 10vh;
  display: flex;
  align-items: center;
}

.timeStepDownContainer {
  height: 20vh;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
}

.timelineContentBox {
  background-color: orange;
  padding: 4%;
  overflow-wrap: break-word;
  width: 30vw;
}

.timelinescroller {
  width: auto;
  margin: 0px 0 0 10px;
  padding: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}

.timeline {
  display: flex;
  width: max-content;
  padding: 5%;
}

.timelineContentBox .title {
  font-weight: bolder;
  font-size: 3vh !important;
}

.timelineContentBox .content p {
  font-size: 1.5vh !important;
  margin-top: 2px !important;
}

span.number {
  font-size: 6vh;
  width: 10%;
  text-align: center;
  color: #ffc21c;
}

.stepLine .line {
  background: #707070;
  width: 100%;
  height: 1px;
}

/*Mobile*/
@media only screen and (max-width: 425px) {
  .timelinescroller {
    width: auto !important;
    overflow-x: initial !important;
    overflow-y: initial !important;
    margin:0 !important;
    padding:0 !important;
    margin-top: 15% !important;
  }

  .timelineContentBox
  {
    width: 100% !important;
  }

  .timeline {
    flex-direction: column !important;
    display: flex !important;
    width: auto !important;
  }

  .timeLineItemContainer {
    height: 35vh !important;
    display: block;
    margin-bottom: 5% !important;
  }

  .timeStepDownContainer {
    width: 80%;
    float: right;
    height: 35vh !important;
  }

  .timeStepUpContainer {
    width: 80%;
    float: right;
    height: 35vh !important;
  }

  .stepLine {
    height: 20vh !important;
    display: block !important;
    width: 20% !important;
    float: left !important;

  }

  .line {
    background: none !important;
    width: 20% !important;
    height: 30vh !important;
    border-right: 1px solid gray;
  }

  .stepLine .number
  {
    height: 10vh !important;
    line-height: 13vh !important;
    margin-top: -32px !important;
    display: block !important;
  }

  .timelineContentBox .content p
  {
    font-size: 2vh !important;
  }

  .timeLineItemContainer:nth-child(even) .timeStepUpContainer
  {
    display: none !important;
  }

}
